PORT=
NODE_ENV=
CORS_ORIGIN=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=
VERCEL_TOKEN=
VERCEL_TEAM_ID=
PUBLISH_ROOT_DOMAIN=
STORAGE_CORS_ORIGINS=
STORAGE_LIMIT_MB=